 /*.................configurações gerais........................*/
:root{
    --color--navbg:#212529;
    --color--base:#ffc800;
    --color--cinza:#716f6f;
    --color--funpedidos:#ffc80038;
    --color--transparente:#00000000;
    --font--header:'Times New Roman', Times, serif;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    flex: 1;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
/*.................configurações gerais........................*/



/*.................configurações do navbar.......................*/
.navbar{
    width: 100%;
    z-index: 9999;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: var(--color--navbg);
    position: fixed;
    
}

.navnav{
    flex: 2;
}
.tituloHome{
    flex: 1;
}
.tituloHome a{
    text-decoration: none;
    color:var(--color--base);
    
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.nav-item {
    flex: 1;
    margin-right: 5px;
}
.nav-item a{
    color: #ffffff;
    text-decoration: none;
}
.nav-item a:hover{
    color: var(--color--base);
}
.login{
    background-color: #ffc800;
    padding: 5px;
    border-radius:10px ;
    text-align:center;
}
.login a:hover{
    color: var(--color--navbg);
}

/*.................configurações do navbar.......................*/



/*................configurações do cabeçalho...................*/
header{
    background-image: url('../img/Arco.jpg');
    width: 100%;
    height:80vh;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px black;
}
header .container{
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tituloHeader{
    font-family:var(--font--header);
    font-size: 60px;
    text-shadow: 0px 0px 7px black;
    
}
.blur{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.692);
}
.conf a{
    text-decoration: none;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font: bold;
}
.conf{
    background-color: var(--color--base);
    padding: 10px 20px;
    border-radius: 15px;
    margin-top:30px;
    font-size: 30px;
}
.conf a:hover{
    color:var(--color--navbg);
    transition: 0.3s;
}
.conf:hover{
    box-shadow: 0px 0px 7px white;
    transition:0.5s;
}
/*................configurações do cabeçalho...................*/

/*................configurações do main........................*/

main{
    display: flex;
    width: 100%;
    justify-content: center;
}
/*................configurações do main........................*/

/*................configuração das seções.......................*/
/*.................de diferentes pedidos .......................*/
.mainCont{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.pratos{
    height: 200px;
    width: 460px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    border-radius: 1.5625rem;
    display:flex; 
}
.pratos:hover{
    height: 195px;
    width: 455px;
    background-color:var(--color--funpedidos) ;
}
.pratoSepara{
    flex: 1;
    height: 100%;
    border-radius: 1.5625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pedidoButton{
    width: 100%;
    background-color: var(--color--transparente);
}
.pedidoButton:hover{
    background-color: var(--color--transparente);
}
.pratoSepara .pedidoButton{
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    border: none;
    background-color: #ffffff;
}
.imgProduto{
    width: 150px;
    height: 150px;
    background-color: #ffc800;
    border-radius: 50%;
    box-shadow:1px 1px 5px var(--color--navbg) inset;
}
.pratoSepara2{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.descricao{
    width: 100px;
    height: 85px;
}
.precos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.descricao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prato1 .imgProduto{
    background-image: url('../img/portfolio/1.jpg');
    background-size: cover;
    background-position: -20px;
}
.prato2 .imgProduto{
    background-image: url('../img/portfolio/2.jpg');
    background-size: cover;
    background-position:-50px;
}
.prato3 .imgProduto{
    background-image: url('../img/portfolio/3.jpg');
    background-size: cover;
    background-position:-20px;
}
.prato4 .imgProduto{
    background-image: url('../img/portfolio/4.jpg');
    background-size: cover;
    background-position:-40px;
}
.prato5 .imgProduto{
    background-image: url('../img/portfolio/5.jpg');
    background-size: cover;
    background-position:-40px;
}
.prato6 .imgProduto{
    background-image: url('../img/portfolio/6.jpg');
    background-size: cover;
    background-position:-40px;
}
.prato7 .imgProduto{
    background-image: url('../img/portfolio/7.jpg');
    background-size: cover;
    background-position:-40px;
}
.porcaoI, .porcaoM{
    flex:1;
    margin: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.porcaoI h2, .porcaoM h2{
    flex: 1;
    justify-content: center;
}
.porcaoM{
    border-right: 1px solid var(--color--cinza);
}
.sections{
    width: 100%;
}
.tituloSec{
    text-align: center;

}


/*................configuração das seções.......................*/
/*.................de diferentes pedidos .......................*/

